#ignore misc BYOND files
*.log
*.int
*.rsc
*.dmb
*.lk
data/mode.txt
maps/backup/bay.dmm
maps/bay.dmm
maps/bay.dmm
maps/chris.dmm
maps/sam.dmm
maps/tgstation2.dmm.bak
*.bak
maps/newmedical tgstation2.dmm
*.bak2
